<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <!-- font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <script type="text/javascript" src="/scripts/header.js"></script>
  <title></title>
</head>

<body>


</html>
<div id="header-wrapper">
<header>
  <nav>
    <div id="logo">
      <img src="/img/logo.png" alt="logo"><span>Decision Maker</span>
    </div>
    <div id="left">
      <button><a href="/users/<%= userId%>">My Polls</a></button>
      <button><a href="/index">Create Polls</a></button>
    </div>
    <div id="right"><span>Hello, <%= userName%></span><button><a href="#">Log out</a></button></div>
    <div id="menu"><i class="fas fa-bars"></i>
      <ul id="head-menu">
        <li><span>Hello, <%= userName%></span></li>
        <li><button><a href="#">Log out</a>          </button></li>
        <li><button><a href="/users/<%= userId%>">My Polls</a></button></li>
        <li><button><a href="/index">Create Polls</a></button></li>
      </ul>
    </div>
  </nav>
</header>
</div>
</body>
