<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error :(</title>
  <!-- Inner CSS Links -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/polls.css" type="text/css" />
  <!-- Inner JS Links -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/poll_drag_options.js"></script>



  <script type="text/javascript" src="/scripts/submit_poll.js"></script>
  <script type="text/javascript" src="/scripts/poll_display_description.js"></script>

   <!-- font awsome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<body>

  <div id="logo_polls">
    <a href="/index">
      <img src="/img/logo.png" alt="logo"><span>Decision Maker</span>
    </a>
  </div>

  <main>
    <h1>Error!</h1>
  </main>
  <br>
  <footer>
    <%- include('partials/_footer') %>
  </footer>
</body>

</html>
