<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index-option.js"></script>
    <script type="text/javascript" src="/scripts/are-you-sure.js"></script>
    <script type="text/javascript" src="/scripts/show-poll-links.js"></script>
    <script type="text/javascript" src="/scripts/copy-to-clipboard.js"></script>

    </script>
  </head>

  <%- include('partials/_header') %>

  <body>
    <main class="main">
      <% if (userId === -1) { %>

        <div>
          <p>Login!</p>
        </div>

      <% } else { %>

        <section class="create-poll"><!-- Poll option -->
          <h1>Create a Poll!</h1>

          <div class="error-message"></div>

          <form action="/index" method="POST" id="poll-form">

            <div class="poll-name-container">
              <h3>Poll Name</h3>
              <textarea type="text" name="pollName" id="poll-name" required placeholder="Ex. What's your favourite colour?"></textarea>
            </div>

            <container class ="added-options-container">
              <div class="option 0">
                <div class="option-container">
                  <h6>Option:</h6>
                  <textarea type="text" name="option0" class="opt-txt" required placeholder="Ex. Chartreuse"></textarea>
                </div>
                <div class="description-container">
                  <h6>Description:</h6>
                  <textarea type="text" name="description0" class="desc-txt"  placeholder="Ex. What a lovely colour!"></textarea>
                </div>
                <button type="button" class="delete-0 delete-icon">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </container>

            <container class="add-more-options">
              <div class="option">
                <div class="option-container">
                  <h6>Add an option:</h6>
                  <textarea type="text" name="new-option" id="option-textarea" class="opt-txt"></textarea>
                </div>
                <div class="description-container">
                  <h6>Add a description:</h6>
                  <textarea type="text" name="new-description" id="description-textarea" class="desc-txt"></textarea>
                </div>
                <button type="button" id="add-option">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </container>

            <button type="submit" id="submit-button">
              <span>Create Poll</span>
            </button>
          </form>
        </section>

        </section>
      <% } %>
    </main>

  <br>
  <br>
  <%- include('partials/_footer') %>

  </body>
</html>
