<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index-option.js"></script>
    <script type="text/javascript" src="/scripts/are-you-sure.js"></script>
    <script type="text/javascript" src="/scripts/show-poll-links.js"></script>

    </script>
  </head>

  <%- include('partials/_header') %>

  <body>
    <h1>Create a Poll!</h1>

  <main>
    <% if (user_id === -1) { %>
      <div>
        <p>Login!</p>
      </div>
    <% } else { %>
    <div class="create-poll">
      <section><!-- Left side where we create the poll -->
        <form action="/index" method="POST" id="poll-form">
          Poll Name:
          <input type="text" name="pollName" id="poll-name" required placeholder="Ex. What's your favourite colour?" />
        <br>
        <container class ="options">
          <div class="option 0">
            <span>Option:</span>
            <input type="text" name="option0" required placeholder="Ex. Chartreuse" />
            <span>Description:</span>
            <input type="text" name="description0"  placeholder="Ex. What a lovely colour!" />
            <button type="button" class="delete-0">Delete</button>
          </div>
        </container>
        <button type="submit">Send My Poll</button>

        </form>
      </section>

      <section><!-- Right side where we add the options -->
        <br>
        Input option title:
        <input type="text" name="option" id="option-input" />
        <br>
        Input option description:
        <input type="text" name="description" id="description-input" />
        <button type="submit" id="add-option">Add Option</button>
        <br>
      </section>
    </div>
    <% } %>
  </main>

  <br>
  <br>
  <%- include('partials/_footer') %>

  </body>
</html>
