<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index-option.js"></script>
    <script type="text/javascript" src="/scripts/are-you-sure.js"></script>

    </script>
  </head>

  <%- include('partials/_header') %>

  <body>
    <container class="register-container">
      <h1>Register</h1>

      <div class=register-form>
        <form action="/Register" method="POST">
          <div id="name">
            Name: <input type="text" name="name" required />
          </div>
          <div id="email">
            Email: <input type="text" name="email" required />
          </div>
          <div id="button">
            <button type="register" id="register">Register</button>
          </div>
        </form>
      </div>

    </container>

  <%- include('partials/_footer') %>

  </body>
</html>
