body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main{
  width: 700px;
  margin: 2em auto;
  padding: 1em 1em;
  border: #aaa solid;
  border-radius: 25px;
  display: flex;

  background-color: #FDFFF5;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}


#logo_polls{
  padding-left: 5em;
  display:flex;
  align-items: center;
  font-weight: bold;

    img{
      width: 50px;
      height: 50px;
      margin-right: 5px;
      vertical-align: middle;
      align-items: center;
    }

    span:first-letter{
    font-size: 30px;
    color: #b33939;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    background: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin: 1em;
    height: 2.7em;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background: #5882d2;
    }
  }
}
