.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

textarea {
  background-color: rgb(242, 242, 242);
  border: none;

  &:focus {
    outline:none;
  }
}

.create-poll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 2em;

  form#poll-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2em;

    button#submit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
      background: rgb(36, 179, 36);
      width: 9em;
      color: white;
      border: none;
      padding: 1%;
      cursor: pointer;
      border-radius: 5px;

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          padding: 3% 0 0 10%;
        }
    }
  }
}

.poll-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2.4em 1em 0;
  margin-left: 2.7em;
  width: 60%;

  textarea#poll-name {
    width: 100%
  }
}

.added-options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.add-more-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

button.delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  color: red;
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-left: 0.7em;
  margin-top: 1em;

  &:focus {
    outline:none;
  }
}

button#add-option {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  color: cornflowerblue;
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-left: 0.7em;
  margin-top: 1.2em;

  &:focus {
    outline: none;
  }
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  width: 100%;
  margin-left: 2.7em;

  h6 {
    display: flex;
    justify-content: center;
  }

  .option-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    margin-right: 2.5%;

    textarea {
      margin: 0;
      width: 100%;
    }
  }

  .description-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    margin-left: 2.5%;

    textarea {
      margin: 0;
      width: 100%;
    }
  }
}

// Error handling
div.error-message {
  display: none;
  color: rgb(193, 1, 1);
  padding: 0.4em;
  margin-bottom: 1em;
  background-color: lightgoldenrodyellow;
  text-align: center;
  width: 60%
}

// Links page when rendered
.poll-created {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 2em;
}

.poll-links {
  display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;

  .admin-link {
    background-color: #ffe3c285;
    padding: 2em;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 15em;
    width: 40%;
    border: rgb(203, 203, 203) 0.1px solid;
  }

  .guest-link {
    background-color: #bbfffede;
    padding: 2em;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 15em;
    width: 40%;
    border: rgb(203, 203, 203) 0.1px solid;
    }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .link-break {
    word-break: break-word;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #24b324;
    width: 9em;
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    height: 2.2em;
    border-radius: 5px;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding-left: 10%;
    }

      &:hover {
        @keyframes bounce {
          0% {
            transform: translateY(0px);
          }
          25% {
            transform: translateY(3px);
          }
          50% {
            transform: translateY(0px);
          }
          75% {
            transform: translateY(-3px);
          }
          100% {
            transform: translateY(0px);
          }
        }

        @keyframes grow {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }

        i.fa-paper-plane{
          animation-name: bounce;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }

        i.fa-chart-bar {
          animation-name: grow;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }

        i.fa-clipboard {
          animation-name: grow;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
    }
  }
}


// Page resizing
@media screen and (max-width: 1024px) {
  .poll-name-container {
    width: 80%;
  }
  .added-options-container {
    width: 80%;
  }
  .add-more-options {
    width: 80%;
  }

  div.error-message {
    width: 80%
  }
}

@media screen and (max-width: 768px) {
  .poll-name-container {
    width: 90%;
  }
  .added-options-container {
    width: 90%;
  }
  .add-more-options {
    width: 90%;
  }

  div.error-message {
    width: 90%
  }

  .poll-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .guest-link {
      height: 18em;
      width: 70%;
    }

    .admin-link {
      height: 18em;
      width: 70%;
    }
  }
}


@media screen and (max-width: 500px) {
  .poll-name-container {
    padding: 0 0 2em 0;
    margin: 0;
  }

  .option {
    flex-direction: column;
    padding: 0 0 2em 0;
    margin: 0;

    span {
      padding: 0;
    }

    .option-container {
      margin-bottom : 1em;
    }

    .description-container {
      margin: 0;
    }
  }

  #submit-button {
    width: 10em;
    height: 3em;
  }

  .poll-links {

    .guest-link {
      height: 18em;
      width: 85%;
    }

    .admin-link {
      height: 18em;
      width: 85%;
    }
  }
}
