.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: rgb(242, 242, 242);
  border: none;

  &:focus {
    outline:none;
  }
}

.create-poll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 5%;

  form#poll-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5%;

    button#submit-button {
      display: flex;
      justify-content: center;
      margin-top: 5%;
    }
  }
}

.poll-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5%;
  width: 60%;

  input#poll-name {
    width: 100%
  }
}

.added-options-container .options-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;

  input {
    width: 100%;
  }
}

button.delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  color: red;
  font-size: 17px;
  border: none;
  cursor: pointer;

  &:focus {
    outline:none;
  }
}

button#add-option {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  color: cornflowerblue;
  font-size: 17px;
  border: none;
  cursor: pointer;

  &:focus {
    outline:none;
  }
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;

  span {
    padding: 0 2%
  }
}

// 420px,768px and 1024px.

@media screen and (max-width: 768px) {
  .option {
    flex-direction: column;

    span {
      padding: 2%;
    }

    button {
      padding: 8%;

      i {
        font-size: 27px;
      }
    }
  }
}
