body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: rgb(253,223,70);
  // background: linear-gradient(90deg, rgba(253,223,70,1) 0%, rgba(69,215,181,1) 80%, rgba(24,214,210,1) 100%);
}

main{
  width: 700px;
  margin: 0 auto;
  padding: 1em 1em;
  border: #aaa solid;
  border-radius: 25px;
  display: flex;
  background: rgb(253,229,70);
  background: linear-gradient(90deg, rgba(253,229,70,1) 0%, rgba(69,215,172,1) 80%, rgba(24,200,214,1) 100%);
}
input{
  width: 200px;

}
ul{
  list-style:none;
}

.option_description {
  width: 90%;
  margin: auto;
  display:flex;
  justify-content: center;
}

#sortable {
  padding: 0;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_field {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin-top: 0.5em;
  }
  input {
    margin-left: 1em;

  }
}
.option_list {

  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;


  .option_title{
    border-radius: 25px;
    border: 1px solid black;
    margin: 20px 0;
    background-color: aliceblue;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
  }
}




