main{
  width: 700px;
  margin: 0 auto;
}
input{
  width: 600px;

}
ul{
  list-style:none;
}
.option_title{
  width: 600px;
  height: auto;
  border: 1px solid black;
  margin: 20px 0;
  .option_description{
    width: 600px;
    border: 1px solid black;
    margin: 0;
    display:none;
  }
}

