h6{
  width: 80vw;
  margin: 50px auto;
  text-align: center;

}
main{
  margin: 20px 20px 100px 20px;
  display: flex;
  justify-content: center;

}
#frame{
  width: 100%;
  margin: 0 auto;
  position: relative;

}
.poll-container{
  width: 100%;
  margin-bottom:8px;
}
.poll-title-container{
  width: 100%;
  display: flex;
  justify-content:start;
  align-content: center;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 2px;

  i{
  margin: auto 5px;
  color: #353b48;
  }

  .poll{
  line-height:35px ;
  width: 90%;
  overflow:auto ;
  margin:0 5px;
  }

  button{
    background-color: transparent;
    border: none;
    padding-left: 5px;
  }
}
.shadow{
  box-shadow:0 4px 2px 0 rgba(0, 0, 0, 1);
}

button :hover{
  color: red;
}
.options-container{
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  font-size:12px;
  padding: 0 5px;
  span{
  display: block;
  margin: 5px 0;
  }
}

ul{
  padding: 0;
}
li{
  list-style:none;
  display: flex;
  justify-content: space-between;
}
.bar{
  // background-color: #ff9f43;
  opacity: 0.9;
  overflow-x: visible;
  white-space:nowrap;
  margin: 2px;
  padding-left: 3px;
  width: 0;
  transition: width 1s
}
@media only screen and (min-width: 768px) {
main{
  margin:0 5vw 100px 5vw;
}
body{
  h6{
    margin: 50px auto;
    font-size: 30px;
  }
}
.poll-container{
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  .poll-title-container{
    width: 45%;
    font-size: 19px;
    margin:5px 5px;
  }
  .options-container{
    width: 52%;
    position: absolute;
    right:0;
    top:0;
    font-size: 20px;
  }
  }
}
@media only screen and (min-width: 1024px) {
  main{
    margin:0 10vw 100px 10vw;
  }
  body{
    h6{
      font-size: 40px;
    }
  }
  .poll-container{
    .poll-title-container{
      width: 40%;
      font-size: 24px;
    }
    .options-container{
      width: 50%;
      font-size: 24px;
    }
    }
}
